@model IEnumerable<CoffeeLands.Models.Coffee>
@{
    ViewData["Title"] = "Index";
    Layout = "../Admin/Layout/_LayoutAdmin";
    int id = 1;
}
@* @section Styles {
    <link rel="stylesheet" href="~/css/test/product.css" />
} *@

@* @section Scripts {
    <script src="~/js/your-script-name.js"></script>
} *@

@* <style>
    .table{
        background-color: #f1f1f1 !important;
        color: green !important
    }
</style> *@

<div class="content-wrapper">
<section class="content">
    <div class="container-fluid">
            <h1>Index</h1>
            <p><a asp-action="Create">Create New</a></p>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Responsive Hover Table</h3>
                <div class="card-tools">
                    <form asp-controller="Coffees" asp-action="Index" method="get">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="SearchString" class="form-control float-right" placeholder="Search">
                            <div class="input-group-append">
                                <button  type="submit"  class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Price</th>
                            <th>Origin</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Qty</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>                               
                        @foreach (var coffee in Model)
                        {                                  
                        <tr>
                            <td>@id</td>
                            <td>@coffee.Name</td>
                            <td>@coffee.Type</td>
                            <td>@coffee.Price</td>
                            <td>@coffee.Origin</td>
                            <td>@coffee.Description</td>
                            <td>@coffee.Status</td>
                            <td>@coffee.Qty</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@coffee.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@coffee.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@coffee.Id">Delete</a>
                            </td>
                        </tr>
                        id++;
                        }      
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
</div>  
</section>
</div>