@model PaginatedList<CoffeeLands.Models.OrderDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "../Admin/Layout/_LayoutAdmin";
}


<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid" style="padding-bottom: 50px;">
            <h3>Order Product Table</h3>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-tools">
                                <form asp-controller="Admin" asp-action="OrderDetails" method="get">
                                    <div class="input-group input-group-sm" style="width: 180px;">
                                        <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" class="form-control float-right" placeholder="Search">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>OrderID</th>
                                        <th>ProductID</th>
                                        <th>Qty</th>
                                        <th><a asp-controller="Admin" asp-action="OrderDetails" asp-route-sortOrder="@ViewData["PriceSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" style="color: black">Price</a></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OrderProduct.Id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Product.Id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Qty)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Price)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <div style="float:right">
                <a asp-controller="Admin" asp-action="OrderDetails"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   class="btn btn-default @prevDisabled">
                    Previous
                </a>
                <a asp-controller="Admin" asp-action="OrderDetails"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   class="btn btn-default @nextDisabled">
                    Next
                </a>
            </div>
        </div>
    </section>
</div>